<web-app>
    <servlet>
        <servlet-name>StatefulServlet</servlet-name>
        <servlet-class>StatefulServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatefulServlet</servlet-name>
        <url-pattern>/stateful</url-pattern>
    </servlet-mapping>
</web-app>
